@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes star {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.animate-star {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffed4a;
  animation: star 1s ease-in-out infinite;
}
